/* 기본 스타일 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* 다크 모드 스타일 */
.dark-mode {
  background-color: #000;
  color: #fff;
}

/* 라이트 모드 스타일 */
.light-mode {
  background-color: #fff;
  color: #000;
}
