.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(23, 86, 87);
  width: 100vw;
}

.headerButton {
  padding: 0px 15px;
  background-color: transparent;
  border: 0px;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

/* 카드 */
.card {
  margin: 20px 10px;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #0d0d0d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: 700;
}

/* 적용 안됨
.card :hover {
  cursor: pointer;
} */

@keyframes rotateBack {
  0% {
    transform: translateX(-100%) rotateY(-180deg);
  }
  100% {
    transform: translateX(0) rotateY(0deg);
  }
}

.card.is-flipped {
  animation: rotateBack 1s ease forwards; /* 1초 동안 rotateBack 애니메이션 실행 */
}

.card_plane {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: black;
  backface-visibility: hidden;
}

.popup {
  position: absolute;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  top: 100%;
  left: 0;
  transform: translateY(5px);
}

.inputError {
  background-color: white;
  padding: 6px 12px;
  border-radius: 4px;
  top: -5px;
  width: 280px;
  /* top: 14%;
  left: 50%; */
  font-size: 14px;
  white-space: nowrap;
  font-size: 12px;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #484848;
  color: white;
}

.inputError:after {
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #484848;
  content: "";
  position: absolute;
  top: -20px;
  left: 4%;
}
