body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

/* 드롭다운 */
.dropdown-label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

.dropdown-label.disabled {
  color: #777;
}

.dropdown-container {
  position: relative;
}

.dropdown-container:hover {
  cursor: pointer;
}

.dropdown-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown-body.active {
  background-color: #fff;
  border: 1px solid #666;
}

.dropdown-selected {
  font-size: 16px;
  padding: 14px 16px;
}

.dropdown-selected.disabled {
  color: #777;
}

.dropdown-menu-container {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  z-index: 1;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown-menu-container.active {
  display: block;
}

.dropdown-item-container {
  padding: 16px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.dropdown-item-container:hover {
  background-color: #f0f0f0;
}

.dropdown-item-container.selected {
  background-color: #f0f0f0;
}

.description {
  height: 17px;
  font-size: 12px;
  color: #333;
  margin: 8px 0px;
}
